@use 'variables' as *;
@use 'mixins' as *;

.filters {
	&__container {
		display: block;
		padding: 1rem 0;
		background-color: white;
		border-bottom: 1px solid $gray;

		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	&__controls {
		display: flex;
		gap: 1rem;
	}
}

