@use 'variables' as *;
@use 'mixins' as *;

.video-snippet {
	display: flex;
	gap: 1rem;

	&__thumb {
		flex: 0 0 auto;
		height: 180px;

		@include media-breakpoint-up(lg) {

		}
	}

	&__text-wrapper {
		flex: 1;
	}

	&__title {
		color: $body-color;
		font-size: 1.2rem;
		line-height: 1.6;
		font-weight: 600;
	}

	&__channel {
		font-size: 0.8rem;
		color: $dark-gray;
	}

	&__desc {
		font-size: 0.8rem;
		color: $dark-gray;
	}
}
