@use 'variables' as *;
@use 'mixins' as *;

.video-snippet {
	display: flex;
	gap: 1rem;

	&__thumb {
		flex: 0 0 320px;
		width: 320px;
		height: 180px;
	}

	&__text-wrapper {
		flex: 1;
	}

	&__title {
		color: $body-color;
		font-size: 1.2rem;
		line-height: 2.6rem;
		font-weight: 600;
	}

	&__channel {
		font-size: 0.8rem;
		color: $dark-gray;
	}

	&__desc {
		font-size: 0.8rem;
		color: $dark-gray;
	}
}

.results-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}