/*------------------------------------*\
  # - COLORS
\*------------------------------------*/

$primary: #ff0000;
$secondary: #000;
$body-bg: #f9f9f9;
$body-color: #030303;
$gray: #f2f2f2;

/*------------------------------------*\
  # - Theme Lists
\*------------------------------------*/

$container-max-width: (
	xs: 540px,
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px,
);

$breakpoints-list: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

/*------------------------------------*\
  # - OTHERS
\*------------------------------------*/

$header-height: 56px;
